@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap");

:root {
   --primary-color: #3a4052;
}

* {
   box-sizing: border-box;
   font-weight: 300;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Noto Sans JP", sans-serif;
   line-height: 1.5;
}

section {
   height: 100vh;
   display: grid;
   place-items: center;
}

a {
   text-decoration: none;
   color: var(--primary-color);
}

.content h1 {
   font-weight: 600;
   font-size: 60px;
   line-height: 1.2;
   margin-bottom: 15px;
}

.showcase {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: #fff;
   padding: 0 20px;
   background: linear-gradient(
      0deg,
      rgba(34, 115, 195, 1) 0%,
      rgba(253, 45, 173, 1) 100%
   );
}

.content {
   z-index: 2;
}

.btn {
   display: inline-block;
   padding: 10px 30px;
   color: #fff;
   border-radius: 5px;
   border: solid #fff 1px;
   margin-top: 25px;
   opacity: 0.7;
}

.btn:hover {
   cursor: pointer;
   transform: scale(0.98);
}

#about {
   padding: 40px;
   text-align: center;
}

#about p {
   font-size: 1.2rem;
   max-width: 600px;
   margin: auto;
}

#about h2 {
   margin: 30px 0;
   color: var(--primary-color);
}

.social a {
   margin: 0 5px;
}

h1 {
   font-weight: bold;
   margin-bottom: 25px;
   font-size: 2.4rem;
}

h2 {
   text-align: center;
}

p {
   font-size: 14px;
   font-weight: 100;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 0 0 20px;
}

span {
   font-size: 12px;
}

a {
   color: #333;
   font-size: 14px;
   text-decoration: none;
   margin: 15px 0;
}

button {
   border-radius: 20px;
   background-color: #3f3f3f;
   border: 1px solid #838383;
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
   margin-top: 15px;
}

button:active {
   transform: scale(0.95);
}

button:focus {
   outline: none;
}

button:hover {
   cursor: pointer;
}

button.ghost {
   background-color: transparent;
   border-color: #ffffff;
}

form {
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 50px;
   height: 100%;
   text-align: center;
}

input {
   box-sizing: border-box;
   background-color: #eee;
   border: none;
   padding: 12px 27px;
   margin: 12px 0;
   width: 100%;
   height: 39px;
   border-radius: 5px;
}

.wrapper {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(220, 220, 220);
}
.container {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   position: relative;
   overflow: hidden;
   width: 768px;
   max-width: 100%;
   min-height: 480px;
}

.form-container {
   position: absolute;
   top: 0;
   height: 100%;
   transition: all 0.6s ease-in-out;
}

.sign-in-container {
   left: 0;
   width: 50%;
   z-index: 2;
}

.container.right-panel-active .sign-in-container {
   transform: translateX(100%);
}

.sign-up-container {
   left: 0;
   width: 50%;
   opacity: 0;
   z-index: 1;
}

.container.right-panel-active .sign-up-container {
   transform: translateX(100%);
   opacity: 1;
   z-index: 5;
   animation: show 0.6s;
}

@keyframes show {
   0%,
   49.99% {
      opacity: 0;
      z-index: 1;
   }

   50%,
   100% {
      opacity: 1;
      z-index: 5;
   }
}

.overlay-container {
   position: absolute;
   top: 0;
   left: 50%;
   width: 50%;
   height: 100%;
   overflow: hidden;
   transition: transform 0.6s ease-in-out;
   z-index: 100;
}

.container.right-panel-active .overlay-container {
   transform: translateX(-100%);
}

.overlay {
   background: rgb(34, 115, 195);
   background: linear-gradient(
      0deg,
      rgba(34, 115, 195, 1) 0%,
      rgba(253, 45, 173, 1) 100%
   );
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 0;
   color: #ffffff;
   position: relative;
   left: -100%;
   height: 100%;
   width: 200%;
   transform: translateX(0);
   transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
   transform: translateX(50%);
}

.overlay-panel {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   top: 0;
   height: 100%;
   width: 50%;
   transform: translateX(0);
   transition: transform 0.6s ease-in-out;
}

.overlay-left {
   transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
   transform: translateX(0);
}

.overlay-right {
   right: 0;
   transform: translateX(0);
}

.container.right-panel-active .overlay-right {
   transform: translateX(20%);
}

.password-visibility-sign-up {
   position: absolute;
   top: 301.5px;
   left: 285px;
   background-color: rgb(202, 202, 202);
   height: 30px;
   width: 45px;
   border-radius: 5px;
   &:hover {
      opacity: 0.9;
      cursor: pointer;
   }
}

.password-visibility-sign-in {
   position: absolute;
   top: 245.5px;
   left: 285px;
   background-color: rgb(202, 202, 202);
   height: 30px;
   width: 45px;
   border-radius: 5px;
   &:hover {
      opacity: 0.9;
      cursor: pointer;
   }
}

.hide {
   visibility: hidden;
}

.form-control {
   position: relative;
   width: 100%;
}

.form-control.error input {
   border: solid 1px #e63b28;
}

.form-control i {
   visibility: hidden;
   position: absolute;
   top: 24px;
   right: 262px;
}

.form-control.error i.fa-exclamation-circle {
   color: #e63b28;
   visibility: visible;
}

.form-control small {
   color: #e63b28;
   position: absolute;
   bottom: -7px;
   font-weight: 400;
   left: 0;
   visibility: hidden;
}

.form-control.error small {
   visibility: visible;
}
