<link rel="stylesheet" href="/CSS/error.css">
</head>

<body>
    <div class="wrapper">
        <h1>
            Oops
        </h1>
        <p class="error-text">
            The Page you're looking for isn't here.
        </p>
        <a href="/" class="btn">GO BACK HOME</a>
    </div>